@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --primaryColor: #042f7d;
  --secondaryColor: #f6f9fe;
  --darkColor: #1a1e27;
  --textColor: #747474;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--textColor);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9fafe;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
